:root {
  --primary: #fff;
  --bg: #5e3bee;
}

body {
  color: #282938;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.btn {
  background-color: var(--bg);
  color: var(--primary);
}

.form-control {
  border-color: var(--bg);
}

.btn:hover {
  background-color: var(--primary); /* Atur warna latar belakang saat dihover */
  color: var(--bg);
  border-color: var(--bg);
}

h2 {
  padding-top: 2rem;
}

.navbar a:hover,
h2,
h4,
h5 {
  font-weight: bold;
}
