:root {
  --primary: #fff;
  --bg: #4942E4;
  /* --bg: #5e3bee; */
}

body {
  color: #282938;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.btn {
  background-color: var(--bg);
  color: var(--primary);
}

.form-control {
  border-color: var(--bg);
}

.btn:hover {
  background-color: var(--primary); /* Atur warna latar belakang saat dihover */
  color: var(--bg);
  border-color: var(--bg);
  font-weight: bold;
}

h2 {
  padding-top: 2rem;
}

.navbar a:hover,
h2,
h4,
h5 {
  font-weight: bold;
}

.card-text {
  text-align: justify;
}


/* media queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 78.5%;

  }

  .row, .navbar{
    padding: 1.5rem;
  }

}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 75.5%;
  }

  .row, .navbar{
    padding: 1.5rem;
  }


}






